@font-face {
  font-family: 'Product Sans';
  src:
    url('/fonts/Product Sans Regular.ttf') format('ttf'),
    url('/fonts/Product Sans Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d1218;
    --foreground: #ededed;
  }
}

body {
  @apply font-sans;
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family:
    Product Sans,
    sans-serif; /* Apply the custom font globally */
  margin: 0;
  padding: 0;
  
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: #444e54;
}